@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
/* font-family: 'Press Start 2P', sans-serif; */
* {
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P', sans-serif;
}
body {
  background-color: #222222;
  color: #eeeeee;
  font-family: 'Press Start 2P', sans-serif;
}

nav {
  width: 98%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.white-button {
  width: 185px;
  padding: 19px 20px;
  font-size: 1.3rem;
  font-weight: normal;
  font-family: 'Press Start 2P', sans-serif;
}

/* Title */
.main-title {
  width: 100%;
  padding: 50px 0;
  font-size: 1.7rem;
  text-align: center;
}

.main-title h1 {
  padding-bottom: 40px;
}

.main-title hr {
  margin-top: 80px;
  height: 0.5rem;
  border: 0px;
  background-color: #eeeeee;
}
.main-title p {
  padding: 35px 50px;
  font-size: 2.5rem;
  background-color: #eeeeee;
  width: 50px;
  color: black;
  margin: 0 auto;
  margin-top: -80px;
  text-align: center;
}

/* Section 3 */
.score-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding-top: 100px;
}

.number-check {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.number-check input {
  width: 10rem;
  background-color: #222222;
  border: 3px solid #eeeeee;
  color: #eeeeee;
  font-size: 4rem;
  padding: 1.5rem;
  margin-bottom: 3rem;
  text-align: center;
}

/* Score */
.score {
  height: 210px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.3rem;
}

.score > p {
  padding-bottom: 100px;
}

@media screen and (max-width: 600px) {
  .score-section {
    flex-direction: column;
  }
}

/* Shake Effects */
.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
